.mainArticle__bylineArticle{
    grid-area: byline;
    margin-top:1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 16%);
    font-size: 0.7em;
}

.bylineArticle__authorPortrait{
    float:left;
    margin-right:1rem;
    border-radius: 50%;
}

.authorNameOne__contact,
.bylineArticle__authorTwoEmail{
    padding-top:0.5rem;
}

.bylineArticle__authorNameOne,
.bylineArticle__authorNameTwo{
    font-weight:bolder;
    margin:0;
}

.bylineArticle__authorNameTwo{
    margin-top:1.5rem;
}