

.mainArticle__colophonNewssection{
    grid-area: newssection;
    font-size: 0.93em;
    color:hsl(0, 99%, 43%);
    margin-bottom:0;
    margin-right:1rem;
}

.mainArticle__colophonDate{
    grid-area: colophon;
    font-size: 0.7em;
}

.mainArticle__colophonComments{
    grid-area: commentcount;
    text-align: right;
    font-size: 0.7em;
}

.mainArticle__colophonNewssection,
.mainArticle__colophonDate,
.mainArticle__colophonComments{
    margin-top:3rem;
    padding-bottom:0.5rem;
    font-weight:bolder;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom:1px dotted hsl(0, 0%, 16%);
}