@import './content-shareSome.css';
@import './content-subscribeBox.css';

.mainArticle__content{
    grid-area:content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height:1.5rem;
    color: hsl(0, 0%, 16%);
    font-size: 0.93em;
    position: relative;
    margin-bottom:4rem;
}