@import './article-header.css';
@import './article-figure.css';
@import './article-information.css';

.mainArticle {
	display: grid;
	grid-template-rows: repeat(5, auto);
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: ". information information ."
						 ". teaser teaser teaser"
						 "cover cover cover cover"
						 "newssection colophon colophon commentcount"
						 "byline content content content";
	max-width: 894.66px;
	margin: 0 auto;
	font-weight: 600;
}