@import './main-header.css';
@import './main-article.css';
@import './recommendations.css';
@import './overview.css';
@import './user-activity.css';

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	scroll-behavior:smooth;
}

body{
    margin:0;
}

address{
    font-style: normal;
}