.comments__bylineUserActivity{
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 16%);
    font-size: 0.7em;
    padding-top:1rem;
}

.bylineUserActivity__userAvatar{
    float:left;
    margin-right:1rem;
    border-radius: 50%;
}
