@import './user-activity-recs.css';
@import './user-activity-comments.css';

.userActivity{
    display: grid;
	grid-template-columns: 25% 75%;
	max-width: 894.66px;
	margin: 0 auto;
    padding-bottom:4rem;
    padding-top:30vh;
}